@import "tailwindcss";

@font-face {
  font-family: 'Main';
  src: url("/src/assets/fonts/main.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'radheFont';
  src: url("/src/assets/fonts/radhe.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.main{
  font-family: 'Main', sans-serif;
}

.radhe{
  font-family: 'radheFont', sans-serif;
}
